<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/personal_dashboard.css">
</head>
<body>
    <div class="left-pane">
        <a href="{{ url_for('farmers_dashboard_home') }}"><b>Home</b></a>
        <a href="{{ url_for('personal_details') }}"><b>Personal Details</b></a>
        <a href="#"><b>Orders</b></a>
        <a href="#"><b>Inventory</b></a>
        <a href="#"><b>Processing</b></a>
        <a href="#"><b>Dashboard</b></a>
        <a href="#"><b>Help</b></a>
        <img src="../static/images/logo2.png" class="logo">
    </div>
    <div class="content">
        {% if value=="pd":%}
            <ul>
            {% for i in range(14) %}
            <div>
                <li>{{ field[i] }}: {{farmersData[i]}}</li>
                
            </div>
            {% endfor %}
            </ul>
        {%else:%}
            <h4>welcome</h4>
        {% endif %}
    </div>
    <!-- <script src="../static/left.js"></script> -->
</body>
</html>