<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/personal_dashboard.css">
</head>
<body>
    <div class="left-pane">
        <a href="#"><b>Home</b></a>
        <a href="#"><b>Personal Details</b></a>
        <a href="#"><b>Orders</b></a>
        <a href="#"><b>Inventory</b></a>
        <a href="#"><b>Processing</b></a>
        <a href="#"><b>Dashboard</b></a>
        <a href="#"><b>Help</b></a>
        <img src="../static/images/logo2.png" class="logo">
    </div>
    <div class="content">
        <p>hello welcome to my website</p>
    </div>
    <!-- <script src="../static/left.js"></script> -->
</body>
</html>