<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transport to approve</title>
</head>
<body>
    <form action="/to_map" method="post">
        <input type=text name="tid" id="tid">
        <button type="submit">go to map</button>
    </form>
    to approve
    <form action="/to_mail" method="post">
        <div>IndianTrans</div>
        <input type="hidden" value="IndianTrans" id="tname" name="tname">
        <div>Delhi</div>
        <input type="hidden" value="Delhi" id="tcity" name="tcity">
      
        <div>123 MG Road</div>
        <input type="hidden" value="123 MG Road" id="taddress" name="taddress">
      
        <div>cost 12.5</div>
        <input type="hidden" value="12.5" id="tcost" name="tcost">
        <input type="hidden" value="2022it0003@svce.ac.in" id="tmail" name="tmail">
      
        <button type="submit">go to map</button>
    </form>
    <form action="to_driver" ,method="post">
        <button type="submit">go to map</button>
    </form>
    <form action="to_driver" ,method="post">
        <button type="submit">go to map</button>
    </form>
    <form action="to_driver" ,method="post">
        <button type="submit">go to map</button>
    </form>
    
    
</body>
</html>